@charset 'UTF-8';
/* Folha de estilo skin para box model */
body{
	background: linear-gradient(90deg, #fdfbfb 0%,#ebedee 100% );
	font-family: DejaVu Serif;
	font-size: 1em;
}

a[href^="http"]{
	background: url(../img/black/link_icon_16.png) 100% 50% no-repeat;
	padding-right: 18px;
}

a:visited{
	color: orange;
}

a:hover {
	color: green;
}

span {
	font-style: italic;
}

.boxBody{
	background: #eaeaea;
	border: 1px solid #000;
}

.boxModel {
background: #b5bdc8; /* Old browsers */
background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 49%, #28343b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 49%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 49%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

.boxModel:hover {
	background: linear-gradient(90deg, #fdfbfb 0%,#ebedee 100% );
}


.boxModel-margin {
	border: 1px dashed #000;
}

.boxModel-borda{
	border: thick solid #000;
}

.boxModel-content p{
	border: 1px dotted #000;
}

.boxModel-margin:hover {
	text-align: justify;
	background: #00ff;
}

.boxModel-borda:hover {
	text-align: justify;
	background: #33dd66;
}

.boxModel-content > p:hover {
	text-align: justify;
	background: #ffffff;
}