@charset 'UTF-8';
/* Folha de estilho para bases de UI */

article, div {
	position: relative;
}

section {
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
}

/* temos aqui um alternador de abas básico */
section:target,
section:first-of-type {
	z-index: 2;
}

