@charset 'UTF-8';
/* Folha de estilo base para estruturação de layout da página */
.boxBase {
	background: #c2c2c2;
	width: 520px;
	padding: 10px;
	border: 1px solid #000;
}

.exercicio {margin-bottom: 10px;}
.exercicio, .resposta {
	background: #eaeaea;
	padding: 10px;
}