@charset "UTF-8";
/* Folha de estilo skin para   */
/* cores: #B0C4DE #00BFFF #87CEEB #ADD8E6 */
body {
    font-family: DejaVu, Serif;
    font-size: 100%;

    background: #add8e6;
}
.main-page {
    background: gray;
}
