@charset "UTF-8";
/* Folha de estilo base para flexbox */
body {
    padding: 0;
    margin: 0;
}

#content {
    display: flex; /* mude de uma coluna e 4 linhas para 4 colunas e uma linha */
    /* width: 550px; */
    height: 550px;
    flex-direction: row; /* row é a padrão e tem ainda colum, row-reverse e colum-reverse */

    align-content: flex-start; /* flex-start é o padrão e tem flex-end, center, strech, space-between e space-araund */
    align-items: flex-start; /* flex-start é o padrão e tem flex-end, center, strech e baseline */
    flex-wrap: no-wrap; /* no-wrap é o padrão e tem wrap e wrap-reverse */
    justify-content: flex-start; /* flex-start é o padrão e tem flex-end, space-between e space-araund */
}

.item {
    width: 105px;
    height: 105px;
    padding: 5px;
    margin: 10px;

    flex-basis: auto; /* define a largura de cada elemto caso não tenha */
    flex-grow: 0; /* ocupa o resto da largura da div */
    flex-shrink: 1; /* encolhe a div */
}

.item:nth-child(1) {
    /* flex-grow: 1; */
    order: 1; /* odena os filhos controlando qual será o elemento filho */
}
.item:nth-child(2) {
    order: 2;
}
.item:nth-child(3) {
    order: 3;
}
.item:nth-child(4) {
    order: 4;
}
