@charset 'UTF-8';
/* Folha de estilo base para simple site */
body {
padding: 0;
margin: 0;
}
p {
width: 290px;
margin: 20px 50px;
padding: 10px;
line-height: 1.5em;
}
h1 {
padding: 5px 37%;
}

.col-left, .col-center, .col-right {
width: 430px;
padding-bottom: 10px;
}

.col-left h1 {
padding: 25px 22%;
}

.col-center {
position: relative;
top: -544px;
right: -451px;
}

.col-center h1 {
padding: 25px 10%;
}

.col-right {
position: relative;
top: -1088px;
right: -900px;
margin-bottom: -1040px;
}

.col-right h1 {
padding: 5px 6%;
}