@charset "UTF-8";
/* folha de estilo baseGrid para o projeto grid4 */

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* layout */
#container {
    display: grid;

    grid-template-areas: "top top"
    "nav nav"
    "side main"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto auto;
}

/* itens do layout */
.top-page {
    min-height: 18vh;

    grid-area: top;
}

.nav-page {
    height: 10vh;

    grid-area: nav;
}

.side-page {
    grid-area: side;
}

.main-page {
    min-height: 40vh;

    grid-area: main;
}

.footer-page {
    padding: 15px;

    grid-area: footer;
}

.footer-page a {
    display: block;
    padding-top: 5px;
}

.footer-page:last-child {
    padding-bottom: 30px;
}
