@charset "UTF-8";
/* folha de estilo skinFlex para o projeto grid4 */

.item a {
    text-decoration: none;

    color: #000;
}

.item a:active {
    color: #fff;
}

.item a:hover {
    color: #fff;
}


.item-inner a {
    text-decoration: none;

    color: #000;
}

.item-inner a:hover {
    color: #fff;
}
