@charset "UTF-8";
/* Folha de estilo skin para flexbox */
/* cores: #B0C4DE #00BFFF #87CEEB #ADD8E6 */
body {
    font-family: DejaVu, Serif;
    font-size: 1em;

    background: #b0c4de;
}

#container {
    background: #00bfff;
}
